html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  font-size: 0;
  font-family: "Playfair Display", "Arial", serif;
  color: #626262;
}
/* Navigation menu, header */
.page-nav {
  padding: 68px 0;
  margin-bottom: 35px;
}
.nav-list {
  font-size: 0;
  padding-left: 164px;
}
.nav-list li {
  list-style: none;
  display: inline-block;
  margin-right: 106px;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}
.nav-list a:hover,
.nav-list a:focus {
  color: #03a9f4;
}
/* Blog content, main information */
.left-post,
.right-post {
  width: 420px;
  height: 550px;
  display: inline-block;
  overflow: hidden;
}
.left-post {
  margin-right: 60px;
}
.top-row,
.middle-row {
  margin-bottom: 60px;
}
.nav-section {
  font-family: "Ubuntu", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
  color: #b4ad9e;
}
.post-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.post-content {
  font-size: 14px;
  line-height: 24px;
  height: 72px;
  overflow: hidden;
}
/* Load more button */
.load-more-button {
  display: block;
  width: 164px;
  height: 60px;
  font-family: "Playfair Display", "Arial", serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 368px 70px 368px;
  padding: 0;
  color: #626262;
}
