html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  font-size: 0;
  font-family: "Playfair Display", "Arial", serif;
  color: #626262;
}
/* Navigation menu, header */
.page-nav {
  padding: 72px 0 100px 0;
}
.nav-list {
  text-align: center;
}
.nav-list li {
  list-style: none;
  display: inline-block;
  margin-right: 106px;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
}
.nav-list a:hover,
.nav-list a:focus {
  color: #03a9f4;
}

/* Blog content, main information */
.blog-content {
  padding-bottom: 70px;
}
.new-post {
  width: 420px;
  margin-right: 60px;
  margin-bottom: 110px;
  display: inline-block;
}
.new-post:nth-of-type(2n) {
  margin-right: 0;
}
.new-post:nth-last-of-type(-n + 2) {
  margin-bottom: 40px;
}
.nav-section {
  font-family: "Ubuntu", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  margin-top: 30px;
  color: #b4ad9e;
}
.post-header {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.post-content {
  font-size: 14px;
  line-height: 24px;
}
/* Load more button */
.load-more-button {
  display: block;
  width: 164px;
  height: 60px;
  font-family: "Playfair Display", "Arial", serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  color: #626262;
  border: 1px solid #626262;
  background: none;
  cursor: pointer;
}
.load-more-button:hover,
.load-more-button:focus {
  color: #03a9f4;
  border: 1px solid #03a9f4;
}
