/* FONTS */

/* alex-brush-regular - latin  instead of Wisdom Script*/
@font-face {
  font-family: "Alex Brush";
  font-style: normal;
  font-weight: 400;
  src: local("Alex Brush Regular"), local("AlexBrush-Regular"),
    url("../fonts/alex-brush-v11-latin/alex-brush-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/alex-brush-v11-latin/alex-brush-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - latin instead of Droid serif*/
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin/noto-serif-v8-latin-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v8-latin/noto-serif-v8-latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* MAIN PAGE */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 940px;
}

/* NAVIGATION MENU */

.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 65px;
}

.site-logo {
  display: block;
  font-family: "Alex Brush", sans-serif;
  font-size: 30px;
  text-decoration: none;
  line-height: 1;
  color: #fed136;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  width: 495px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  transition: color 200ms linear;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #fed136;
}

/* MAIN CONTENT */

.section-title {
  margin: 0 auto;
  font-size: 40px;
  color: #222222;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.sub-title {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  color: #777777;
  font-family: "Noto Serif", sans-serif;
  font-weight: 400;
  text-transform: none;
}

/* SECTION SERVICES */

.services {
  padding: 120px 0;
}

.services-menu {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.service-item {
  flex: 0 0 290px;
  text-align: center;
}

.service-item::before {
  display: block;
  margin: 0 auto;
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 3px solid #fed136;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-basket::before {
  background-image: url(../img/icons/Icon-Basket.png);
}

.icon-laptop::before {
  background-image: url(../img/icons/Icon-Laptop.png);
}

.icon-locked::before {
  background-image: url(../img/icons/Icon-Locked.png);
}

.service-name {
  margin: 26px 0 12px 0;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
}

.service-dscr {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

/* SECTION CONTACT US */

.contactus {
  padding: 106px 0 0 0;
  min-height: 676px;
  background-color: #222222;
  background-image: url(../img/Map-Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contactus-title {
  color: #ffffff;
}

.contactus-form {
  padding-top: 78px;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 210px;
  margin-bottom: 30px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-wrapper input {
  padding-left: 20px;
  width: 455px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.user-message {
  padding: 16px 0 0 20px;
  resize: none;
  width: 455px;
  height: 210px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.inputs-wrapper input[class="username-input"]:focus:valid,
.inputs-wrapper input[class="email-input"]:focus:valid,
.user-message:focus:valid {
  outline: 3px solid #008000;
}

.inputs-wrapper input[class="username-input"]:focus:invalid,
.inputs-wrapper input[class="email-input"]:focus:invalid,
.user-message:focus:invalid {
  outline: 3px solid #ff0000;
}

.inputs-wrapper input::placeholder,
.user-message::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #bbbbbb;
}

.submit-form-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 240px;
  height: 65px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #fed136;
  cursor: pointer;
  transition-property: color, background-color, border;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.submit-form-btn:hover {
  color: #fed136;
  background-color: #ffffff;
  border: 1px solid #fed136;
}
