.footer {
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;

  &__copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  &__link {
    text-decoration: none;
    color: $secondary-color;
    transition: color 200ms linear;
  }

  &__form {
    display: flex;
    justify-content: end;
  }

  &__email-input {
    width: 230px;
    height: 40px;
    padding-left: 12px;
    background-color: $white-font-color;
    border: 1px solid #e7e7e7;

    &::placeholder {
      font-size: 15px;
      line-height: 24px;
      color: #cccccc;
      font-family: $description-font;
      font-weight: 300;
      font-style: italic;
    }
  }

  &__subscribe-button {
    padding: 0;
    width: 150px;
    height: 40px;
    background-color: $main-color;
    border: none;
    font-size: 14px;
    color: $secondary-color;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition-property: color, background-color, border;
    transition-duration: 200ms;
    transition-timing-function: linear;
    cursor: pointer;
    border: 1px solid $secondary-color;

    &:hover {
      color: $white-font-color;
      background-color: $secondary-color;
    }
  }
}
