html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1110px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Navigation menu*/

.navigation-menu {
  margin: 0 auto;
  padding: 38px 0 106px 0;
  height: auto;
  overflow: hidden;
}

.logo {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
  float: left;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.menu-section {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  float: right;
}

.menu-section li {
  float: left;
  margin-right: 32px;
}

.menu-section li:last-child {
  margin-right: 0;
}

.menu-section a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
}

.menu-section a:hover,
.menu-section a:focus {
  color: #1abc9c;
}

/* Section - Featured products */

.gallery {
  margin: 0 auto;
  padding-bottom: 102px;
  height: auto;
  overflow: hidden;
}

.section-featured-title {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 92px;
  color: #515151;
}

.section-featured-title::after {
  display: block;
  content: "";
  margin: 30px auto 0;
  width: 164px;
  height: 8px;
  background-color: #1abc9c;
}

.featured {
  list-style: none;
  margin: auto;
  padding: 0;
}

.featured-item {
  display: block;
  margin: 0 30px 30px 0;
  padding: 0;
  width: 255px;
  float: left;
  background-color: #e9f0fd;
}

.featured-item:nth-child(4n) {
  margin-right: 0;
}

.featured-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.item-title {
  display: block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
}

.item-title h3 {
  margin: 0;
  padding-left: 14px;
  width: 201px;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  float: left;
}

.item-title p {
  margin: 0;
  width: 54px;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  float: right;
  background-color: rgba(255, 255, 255, 0.439);
}

.featured-item:hover > .item-title {
  background-color: #1abc9c;
}

/* Section - Blog content*/

.blog {
  padding-bottom: 82px;
}
.section-blog-title {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 80px;
  color: #515151;
}

.section-blog-title::after {
  display: block;
  content: "";
  margin: 30px auto 0;
  width: 164px;
  height: 8px;
  background-color: #4ec6ab;
}

.blog-content {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.new-blog {
  margin-right: 30px;
  width: 350px;
  float: left;
  list-style: none;
}
.new-blog:last-child {
  margin-right: 0;
}
.new-blog h3 {
  margin: 14px 0 24px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
}

.new-blog h3::after {
  display: block;
  margin-top: 12px;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
}

.new-blog p {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #555252;
}

.new-blog button {
  display: block;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  background-color: #4ec6ab;
  cursor: pointer;
  border: 1px solid #4ec6ab;
  border-radius: 4px;
}

.new-blog button:hover,
.new-blog button:focus {
  background-color: #fff;
  color: #4ec6ab;
}
