/* FONTS */

$main-font: 'Montserrat', sans-serif;
$second-font: 'Kaushan Script', cursive;
$third-font: 'Roboto', sans-serif;

/* COLORS */

$main-color: #333333;
$white-color: #ffffff;
$hover-color: #fce38a;
