/* FONTS */

$main-font: 'Montserrat', sans-serif;
$design-font: 'Kaushan Script', cursive;
$description-font: 'Roboto', sans-serif;

/* COLORS */

/* FONTS COLOR */
$main-font-color: #333333;
$white-font-color: #ffffff;
$description-font-color: #999999;

/* COLOR OF ELEMENTS */

$main-color: #fce38a;
$secondary-color: #f38181;
$card-bg-color: #95e1d3;
$gradient: linear-gradient(
  to top,
  transparentize($main-color, 0.1),
  transparentize($secondary-color, 0.1)
);
